@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

.header-design {
  margin-top: 30px;
}

.App-news-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ecf0f1;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
}

.header-design {
  font-family: "Montserrat", sans-serif;
}

.mr-auto {
  margin-right: auto;
}

.form-design {
  margin-top: 10px;
}

.border-line {
  border-top: 1px solid gray;
  margin-top: 30px;
}

.border-line-2 {
  border-top: 1px solid gray;
  margin-top: 30px;
  margin-bottom: 30px;
}

.comment-line {
  margin-top: 10px;
}

/* a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.grid-item {
  border: 1px solid black;
}

.App-news-item:link {
  text-decoration: none;
}

.Navbar-decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
}

.Menu {
  list-style: none;
}

.App-news-list:hover {
  color: #0088a9;
}

.App {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-list {
  list-style: none;
}

.Navbar-decoration {
  height: 100vh;
  width: 100%;
} */